.sidebar {
    width: 200px;
    background-color: #111111;
    color: #FFFFFF;
    padding: 20px;
    height: 100vh;
  }
  
  .sidebar nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .sidebar nav a.active {
    font-weight: bold;
    color: #FF5722;
  }
  